<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper.InformationMapper">
  <resultMap id="BaseResultMap" type="test.domain.Information">
    <id column="exam_number" jdbcType="CHAR" property="examNumber" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="id_number" jdbcType="CHAR" property="idNumber" />
    <result column="faculty" jdbcType="VARCHAR" property="faculty" />
    <result column="dominant_term" jdbcType="VARCHAR" property="dominantTerm" />
    <result column="dominant_instrument" jdbcType="VARCHAR" property="dominantInstrument" />
    <result column="dominant_song" jdbcType="VARCHAR" property="dominantSong" />
    <result column="secondary_term" jdbcType="VARCHAR" property="secondaryTerm" />
    <result column="secondary_instrument" jdbcType="VARCHAR" property="secondaryInstrument" />
    <result column="secondary_song" jdbcType="VARCHAR" property="secondarySong" />
    <result column="sightsinging" jdbcType="VARCHAR" property="sightsinging" />
    <result column="entrance_time" jdbcType="TIMESTAMP" property="entranceTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    exam_number, serial_number, name, sex, phone_number, home_address, id_number, faculty, 
    dominant_term, dominant_instrument, dominant_song, secondary_term, secondary_instrument, 
    secondary_song, sightsinging, entrance_time
  </sql>
  <select id="selectByExample" parameterType="test.domain.InformationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from information
    where exam_number = #{examNumber,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from information
    where exam_number = #{examNumber,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="test.domain.InformationExample">
    delete from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="test.domain.Information">
    insert into information (exam_number, serial_number, name, 
      sex, phone_number, home_address, 
      id_number, faculty, dominant_term, 
      dominant_instrument, dominant_song, secondary_term, 
      secondary_instrument, secondary_song, sightsinging, 
      entrance_time)
    values (#{examNumber,jdbcType=CHAR}, #{serialNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{phoneNumber,jdbcType=CHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=CHAR}, #{faculty,jdbcType=VARCHAR}, #{dominantTerm,jdbcType=VARCHAR}, 
      #{dominantInstrument,jdbcType=VARCHAR}, #{dominantSong,jdbcType=VARCHAR}, #{secondaryTerm,jdbcType=VARCHAR}, 
      #{secondaryInstrument,jdbcType=VARCHAR}, #{secondarySong,jdbcType=VARCHAR}, #{sightsinging,jdbcType=VARCHAR}, 
      #{entranceTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="test.domain.Information">
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examNumber != null">
        exam_number,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="homeAddress != null">
        home_address,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="faculty != null">
        faculty,
      </if>
      <if test="dominantTerm != null">
        dominant_term,
      </if>
      <if test="dominantInstrument != null">
        dominant_instrument,
      </if>
      <if test="dominantSong != null">
        dominant_song,
      </if>
      <if test="secondaryTerm != null">
        secondary_term,
      </if>
      <if test="secondaryInstrument != null">
        secondary_instrument,
      </if>
      <if test="secondarySong != null">
        secondary_song,
      </if>
      <if test="sightsinging != null">
        sightsinging,
      </if>
      <if test="entranceTime != null">
        entrance_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examNumber != null">
        #{examNumber,jdbcType=CHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=CHAR},
      </if>
      <if test="faculty != null">
        #{faculty,jdbcType=VARCHAR},
      </if>
      <if test="dominantTerm != null">
        #{dominantTerm,jdbcType=VARCHAR},
      </if>
      <if test="dominantInstrument != null">
        #{dominantInstrument,jdbcType=VARCHAR},
      </if>
      <if test="dominantSong != null">
        #{dominantSong,jdbcType=VARCHAR},
      </if>
      <if test="secondaryTerm != null">
        #{secondaryTerm,jdbcType=VARCHAR},
      </if>
      <if test="secondaryInstrument != null">
        #{secondaryInstrument,jdbcType=VARCHAR},
      </if>
      <if test="secondarySong != null">
        #{secondarySong,jdbcType=VARCHAR},
      </if>
      <if test="sightsinging != null">
        #{sightsinging,jdbcType=VARCHAR},
      </if>
      <if test="entranceTime != null">
        #{entranceTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="test.domain.InformationExample" resultType="java.lang.Long">
    select count(*) from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update information
    <set>
      <if test="record.examNumber != null">
        exam_number = #{record.examNumber,jdbcType=CHAR},
      </if>
      <if test="record.serialNumber != null">
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=CHAR},
      </if>
      <if test="record.homeAddress != null">
        home_address = #{record.homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.idNumber != null">
        id_number = #{record.idNumber,jdbcType=CHAR},
      </if>
      <if test="record.faculty != null">
        faculty = #{record.faculty,jdbcType=VARCHAR},
      </if>
      <if test="record.dominantTerm != null">
        dominant_term = #{record.dominantTerm,jdbcType=VARCHAR},
      </if>
      <if test="record.dominantInstrument != null">
        dominant_instrument = #{record.dominantInstrument,jdbcType=VARCHAR},
      </if>
      <if test="record.dominantSong != null">
        dominant_song = #{record.dominantSong,jdbcType=VARCHAR},
      </if>
      <if test="record.secondaryTerm != null">
        secondary_term = #{record.secondaryTerm,jdbcType=VARCHAR},
      </if>
      <if test="record.secondaryInstrument != null">
        secondary_instrument = #{record.secondaryInstrument,jdbcType=VARCHAR},
      </if>
      <if test="record.secondarySong != null">
        secondary_song = #{record.secondarySong,jdbcType=VARCHAR},
      </if>
      <if test="record.sightsinging != null">
        sightsinging = #{record.sightsinging,jdbcType=VARCHAR},
      </if>
      <if test="record.entranceTime != null">
        entrance_time = #{record.entranceTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update information
    set exam_number = #{record.examNumber,jdbcType=CHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      phone_number = #{record.phoneNumber,jdbcType=CHAR},
      home_address = #{record.homeAddress,jdbcType=VARCHAR},
      id_number = #{record.idNumber,jdbcType=CHAR},
      faculty = #{record.faculty,jdbcType=VARCHAR},
      dominant_term = #{record.dominantTerm,jdbcType=VARCHAR},
      dominant_instrument = #{record.dominantInstrument,jdbcType=VARCHAR},
      dominant_song = #{record.dominantSong,jdbcType=VARCHAR},
      secondary_term = #{record.secondaryTerm,jdbcType=VARCHAR},
      secondary_instrument = #{record.secondaryInstrument,jdbcType=VARCHAR},
      secondary_song = #{record.secondarySong,jdbcType=VARCHAR},
      sightsinging = #{record.sightsinging,jdbcType=VARCHAR},
      entrance_time = #{record.entranceTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="test.domain.Information">
    update information
    <set>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        home_address = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=CHAR},
      </if>
      <if test="faculty != null">
        faculty = #{faculty,jdbcType=VARCHAR},
      </if>
      <if test="dominantTerm != null">
        dominant_term = #{dominantTerm,jdbcType=VARCHAR},
      </if>
      <if test="dominantInstrument != null">
        dominant_instrument = #{dominantInstrument,jdbcType=VARCHAR},
      </if>
      <if test="dominantSong != null">
        dominant_song = #{dominantSong,jdbcType=VARCHAR},
      </if>
      <if test="secondaryTerm != null">
        secondary_term = #{secondaryTerm,jdbcType=VARCHAR},
      </if>
      <if test="secondaryInstrument != null">
        secondary_instrument = #{secondaryInstrument,jdbcType=VARCHAR},
      </if>
      <if test="secondarySong != null">
        secondary_song = #{secondarySong,jdbcType=VARCHAR},
      </if>
      <if test="sightsinging != null">
        sightsinging = #{sightsinging,jdbcType=VARCHAR},
      </if>
      <if test="entranceTime != null">
        entrance_time = #{entranceTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where exam_number = #{examNumber,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="test.domain.Information">
    update information
    set serial_number = #{serialNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=CHAR},
      home_address = #{homeAddress,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=CHAR},
      faculty = #{faculty,jdbcType=VARCHAR},
      dominant_term = #{dominantTerm,jdbcType=VARCHAR},
      dominant_instrument = #{dominantInstrument,jdbcType=VARCHAR},
      dominant_song = #{dominantSong,jdbcType=VARCHAR},
      secondary_term = #{secondaryTerm,jdbcType=VARCHAR},
      secondary_instrument = #{secondaryInstrument,jdbcType=VARCHAR},
      secondary_song = #{secondarySong,jdbcType=VARCHAR},
      sightsinging = #{sightsinging,jdbcType=VARCHAR},
      entrance_time = #{entranceTime,jdbcType=TIMESTAMP}
    where exam_number = #{examNumber,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="test.domain.Information">
    <id column="exam_number" jdbcType="CHAR" property="examNumber" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone_number" jdbcType="CHAR" property="phoneNumber" />
    <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="id_number" jdbcType="CHAR" property="idNumber" />
    <result column="faculty" jdbcType="VARCHAR" property="faculty" />
    <result column="dominant_term" jdbcType="VARCHAR" property="dominantTerm" />
    <result column="dominant_instrument" jdbcType="VARCHAR" property="dominantInstrument" />
    <result column="dominant_song" jdbcType="VARCHAR" property="dominantSong" />
    <result column="secondary_term" jdbcType="VARCHAR" property="secondaryTerm" />
    <result column="secondary_instrument" jdbcType="VARCHAR" property="secondaryInstrument" />
    <result column="secondary_song" jdbcType="VARCHAR" property="secondarySong" />
    <result column="sightsinging" jdbcType="VARCHAR" property="sightsinging" />
    <result column="entrance_time" jdbcType="TIMESTAMP" property="entranceTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    exam_number, serial_number, name, sex, phone_number, home_address, id_number, faculty, 
    dominant_term, dominant_instrument, dominant_song, secondary_term, secondary_instrument, 
    secondary_song, sightsinging, entrance_time
  </sql>
  <select id="selectByExample" parameterType="test.domain.InformationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from information
    where exam_number = #{examNumber,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from information
    where exam_number = #{examNumber,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="test.domain.InformationExample">
    delete from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="test.domain.Information">
    insert into information (exam_number, serial_number, name, 
      sex, phone_number, home_address, 
      id_number, faculty, dominant_term, 
      dominant_instrument, dominant_song, secondary_term, 
      secondary_instrument, secondary_song, sightsinging, 
      entrance_time)
    values (#{examNumber,jdbcType=CHAR}, #{serialNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{phoneNumber,jdbcType=CHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=CHAR}, #{faculty,jdbcType=VARCHAR}, #{dominantTerm,jdbcType=VARCHAR}, 
      #{dominantInstrument,jdbcType=VARCHAR}, #{dominantSong,jdbcType=VARCHAR}, #{secondaryTerm,jdbcType=VARCHAR}, 
      #{secondaryInstrument,jdbcType=VARCHAR}, #{secondarySong,jdbcType=VARCHAR}, #{sightsinging,jdbcType=VARCHAR}, 
      #{entranceTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="test.domain.Information">
    insert into information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examNumber != null">
        exam_number,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="homeAddress != null">
        home_address,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="faculty != null">
        faculty,
      </if>
      <if test="dominantTerm != null">
        dominant_term,
      </if>
      <if test="dominantInstrument != null">
        dominant_instrument,
      </if>
      <if test="dominantSong != null">
        dominant_song,
      </if>
      <if test="secondaryTerm != null">
        secondary_term,
      </if>
      <if test="secondaryInstrument != null">
        secondary_instrument,
      </if>
      <if test="secondarySong != null">
        secondary_song,
      </if>
      <if test="sightsinging != null">
        sightsinging,
      </if>
      <if test="entranceTime != null">
        entrance_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examNumber != null">
        #{examNumber,jdbcType=CHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=CHAR},
      </if>
      <if test="faculty != null">
        #{faculty,jdbcType=VARCHAR},
      </if>
      <if test="dominantTerm != null">
        #{dominantTerm,jdbcType=VARCHAR},
      </if>
      <if test="dominantInstrument != null">
        #{dominantInstrument,jdbcType=VARCHAR},
      </if>
      <if test="dominantSong != null">
        #{dominantSong,jdbcType=VARCHAR},
      </if>
      <if test="secondaryTerm != null">
        #{secondaryTerm,jdbcType=VARCHAR},
      </if>
      <if test="secondaryInstrument != null">
        #{secondaryInstrument,jdbcType=VARCHAR},
      </if>
      <if test="secondarySong != null">
        #{secondarySong,jdbcType=VARCHAR},
      </if>
      <if test="sightsinging != null">
        #{sightsinging,jdbcType=VARCHAR},
      </if>
      <if test="entranceTime != null">
        #{entranceTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="test.domain.InformationExample" resultType="java.lang.Long">
    select count(*) from information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update information
    <set>
      <if test="record.examNumber != null">
        exam_number = #{record.examNumber,jdbcType=CHAR},
      </if>
      <if test="record.serialNumber != null">
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.phoneNumber != null">
        phone_number = #{record.phoneNumber,jdbcType=CHAR},
      </if>
      <if test="record.homeAddress != null">
        home_address = #{record.homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.idNumber != null">
        id_number = #{record.idNumber,jdbcType=CHAR},
      </if>
      <if test="record.faculty != null">
        faculty = #{record.faculty,jdbcType=VARCHAR},
      </if>
      <if test="record.dominantTerm != null">
        dominant_term = #{record.dominantTerm,jdbcType=VARCHAR},
      </if>
      <if test="record.dominantInstrument != null">
        dominant_instrument = #{record.dominantInstrument,jdbcType=VARCHAR},
      </if>
      <if test="record.dominantSong != null">
        dominant_song = #{record.dominantSong,jdbcType=VARCHAR},
      </if>
      <if test="record.secondaryTerm != null">
        secondary_term = #{record.secondaryTerm,jdbcType=VARCHAR},
      </if>
      <if test="record.secondaryInstrument != null">
        secondary_instrument = #{record.secondaryInstrument,jdbcType=VARCHAR},
      </if>
      <if test="record.secondarySong != null">
        secondary_song = #{record.secondarySong,jdbcType=VARCHAR},
      </if>
      <if test="record.sightsinging != null">
        sightsinging = #{record.sightsinging,jdbcType=VARCHAR},
      </if>
      <if test="record.entranceTime != null">
        entrance_time = #{record.entranceTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update information
    set exam_number = #{record.examNumber,jdbcType=CHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      phone_number = #{record.phoneNumber,jdbcType=CHAR},
      home_address = #{record.homeAddress,jdbcType=VARCHAR},
      id_number = #{record.idNumber,jdbcType=CHAR},
      faculty = #{record.faculty,jdbcType=VARCHAR},
      dominant_term = #{record.dominantTerm,jdbcType=VARCHAR},
      dominant_instrument = #{record.dominantInstrument,jdbcType=VARCHAR},
      dominant_song = #{record.dominantSong,jdbcType=VARCHAR},
      secondary_term = #{record.secondaryTerm,jdbcType=VARCHAR},
      secondary_instrument = #{record.secondaryInstrument,jdbcType=VARCHAR},
      secondary_song = #{record.secondarySong,jdbcType=VARCHAR},
      sightsinging = #{record.sightsinging,jdbcType=VARCHAR},
      entrance_time = #{record.entranceTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="test.domain.Information">
    update information
    <set>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        home_address = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=CHAR},
      </if>
      <if test="faculty != null">
        faculty = #{faculty,jdbcType=VARCHAR},
      </if>
      <if test="dominantTerm != null">
        dominant_term = #{dominantTerm,jdbcType=VARCHAR},
      </if>
      <if test="dominantInstrument != null">
        dominant_instrument = #{dominantInstrument,jdbcType=VARCHAR},
      </if>
      <if test="dominantSong != null">
        dominant_song = #{dominantSong,jdbcType=VARCHAR},
      </if>
      <if test="secondaryTerm != null">
        secondary_term = #{secondaryTerm,jdbcType=VARCHAR},
      </if>
      <if test="secondaryInstrument != null">
        secondary_instrument = #{secondaryInstrument,jdbcType=VARCHAR},
      </if>
      <if test="secondarySong != null">
        secondary_song = #{secondarySong,jdbcType=VARCHAR},
      </if>
      <if test="sightsinging != null">
        sightsinging = #{sightsinging,jdbcType=VARCHAR},
      </if>
      <if test="entranceTime != null">
        entrance_time = #{entranceTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where exam_number = #{examNumber,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="test.domain.Information">
    update information
    set serial_number = #{serialNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=CHAR},
      home_address = #{homeAddress,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=CHAR},
      faculty = #{faculty,jdbcType=VARCHAR},
      dominant_term = #{dominantTerm,jdbcType=VARCHAR},
      dominant_instrument = #{dominantInstrument,jdbcType=VARCHAR},
      dominant_song = #{dominantSong,jdbcType=VARCHAR},
      secondary_term = #{secondaryTerm,jdbcType=VARCHAR},
      secondary_instrument = #{secondaryInstrument,jdbcType=VARCHAR},
      secondary_song = #{secondarySong,jdbcType=VARCHAR},
      sightsinging = #{sightsinging,jdbcType=VARCHAR},
      entrance_time = #{entranceTime,jdbcType=TIMESTAMP}
    where exam_number = #{examNumber,jdbcType=CHAR}
  </update>
</mapper>